name: buildx

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '22 4 * * 0'
  push:
    branches:
      - 'master'

env:
  PLATFORMS: linux/amd64 #,linux/arm64

jobs:
  buildx:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Set up variable repository name
        run: echo "IMAGE_NAME=${{ github.repository }}" >> $GITHUB_ENV

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Initial Buildx
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Containerfile
          tags: ghcr.io/${{ env.IMAGE_NAME }}:testing
          platforms: ${{ env.PLATFORMS }}
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true

      - name: Load Built Image and Get Variables
        id: vars
        run: |
          VER_FULL=$(docker run --rm ghcr.io/${{ env.IMAGE_NAME }}:testing rpm -q --queryformat '%{VERSION}' zpa-connector)
          echo "VER_FULL=$VER_FULL" >> $GITHUB_ENV

      - name: Buildx and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Containerfile
          tags: |
            ghcr.io/${{ env.IMAGE_NAME }}:latest
            ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VER_FULL }}
          platforms: ${{ env.PLATFORMS }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          provenance: false
