name: buildx-on-pr

on:
  # pull_request:
  workflow_dispatch:

env:
  PLATFORMS: linux/amd64 #,linux/arm64

jobs:
  buildx-on-pr:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Set up variable repository name
        run: echo "IMAGE_NAME=${{ github.repository }}" >> $GITHUB_ENV

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        # if: github.actor == github.event.repository.owner.login
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Containerfile
          tags: |
            ghcr.io/${{ env.IMAGE_NAME }}:testing
            ghcr.io/${{ env.IMAGE_NAME }}:testing-${{ github.event.pull_request.number }}
          platforms: ${{ env.PLATFORMS }}
          push: true
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=ZPA Connector
